.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    line-height: 50px;
    padding: 5px 20px;
    font-size: 10px;
    width: 100vw;
}

.header-container .logo-section{
    font-size: 3em;
}
.header-container .links-section ul{
    /* width:30vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:30px;
}
.header-container .links-section ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 2em;
    text-transform: uppercase;
}
