*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.login-container{
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    gap:20px
}

.login-container #loginForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#loginBtn{
    width: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
#errorContainer p{
    font-size: 18px;
}